
[user]
  # to be customized
  email = vn.trungld@gmail.com	
  name = trungld

[alias]
  a = add
  aa = add --all
  ap = add --patch
  amend = commit --amend -CHEAD
  b = branch
  c = commit -m
  co = checkout
  cp = cherry-pick
  d = !"d() { git diff --patch-with-stat $1 $2 || git diff --patch-with-stat $1 || git diff --patch-with-stat; }; git diff-index --quiet HEAD -- || clear; d"
  dc = !"d() { git diff --cached --patch-with-stat $1 || git diff --cached --patch-with-stat; }; git diff-index --quiet HEAD -- || clear; d"
  f = fetch -p
  fc = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short -S$1; }; f"
  fm = "!f() { git log --pretty=format:'%C(yellow)%h  %Cblue%ad  %Creset%s%Cgreen  [%cn] %Cred%d' --decorate --date=short --grep=$1; }; f"
  l = log --oneline
  m = merge
  p = push
  rb = rebase
  rl = reflog
  r = reset
  rp = reset --patch
  s = status -sb -unormal
  v = log --graph --all --format=\"%C(auto)%h%C(reset) %C(auto)%d%C(reset) %s %C(yellow)- %an, %ad%C(reset) %C(dim green)%G?%C(reset)\" --date=relative
  vv = log --graph --all --format=\"%C(auto)%h%C(reset) %C(auto)%d%C(reset) %s %C(dim cyan)- %an, %ad%C(reset)%n         %C(dim)author  :%C(reset) %C(yellow)%aN <%aE>.%C(reset) %C(cyan)%aD%C(reset)%n         %C(dim)commiter:%C(reset) %C(yellow)%cN <%cE>.%C(reset) %C(cyan)%cD%C(reset)%n         %C(dim)signing :%C(reset) %C(bold green)%G?.%C(reset) %C(yellow)%GS%C(reset) %C(dim cyan)%GK%C(reset)\" --date=relative

[core]
  editor = nvim

[credential]
  helper = cache --timeout=3600

[diff]
  tool = nvimdiff

[difftool "nvimdiff"]
  cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

[filter "lfs"]
  clean = git-lfs clean %f
  smudge = git-lfs smudge %f
  required = true

[push]
  default = nothing
